#tim{
    text-align: center;
    font-size: 50px;
}
#traloi{
    text-align: center;
    margin: auto;
}
.co{
    margin: auto;
    background-color: transparent;
    border-radius: 6px;
    display: inline-block;
    outline: none;
    border: none;
    font-size:40px;
    background-color: pink;
    padding: 12px 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    text-decoration: none;
    color: black;
}
.co:hover{
    opacity: 0.8;
}
#h2{
    font-size: 50px;
    text-align: center;
}